* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	text-decoration: none;
}

body,
html {
	max-width: 100%;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: #97a8ab;
	border-radius: 15px;
	border: 2px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #758285;
}

/* Navbar CSS */
nav .container {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	background: #1b1b1b;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	height: 80px;
	top: 0;
	position: fixed;
	width: 100%;
}

.nav__logo a {
	color: #fff;
	font-size: 2rem;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.nav__links {
	display: flex;
	list-style: none;
}

.nav__links a {
	display: flex;
	color: #fff;
	font-size: 1.2rem;
	width: 125px;
	transition: all 0.3s ease;
}

.nav__links a:hover {
	opacity: 0.7;
	transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
	nav .container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}

	.nav__links {
		display: grid;
		grid-template-columns: auto;
		margin: 0;
		width: 100%;
		position: absolute;
		top: -1000px;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: -1;
	}

	.nav__links.active {
		background: #1b1b1b;
		top: 100%;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 99;
		height: 60vh;
		font-size: 1.6rem;
	}

	.nav__logo a {
		padding-left: 25px;
		font-size: 1.5rem;
		letter-spacing: 3px;
	}

	.nav__toggle .bar {
		width: 25px;
		height: 3px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: #fff;
	}

	.nav__links a {
		padding: 2rem;
		width: 100%;
		display: table;
	}

	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
	}

	.nav__toggle .bar {
		display: block;
		cursor: pointer;
	}

	#mobile-menu.is-active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	#mobile-menu.is-active .bar:nth-child(2) {
		opacity: 0;
	}

	#mobile-menu.is-active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

/* General Section CSS */
.container {
	text-align: center;
}

button {
	padding: 10px 10px;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	border: 2px solid #1b1b1b;
	cursor: pointer;
	transition: all 0.3s ease;
}

/* Home Section CSS */
.home__section {
	background: url(./assets/bg-img-1.webp) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 220px 0;
}

.home__section .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	height: 90%;
	padding: 30px;
}

.home__header h1 {
	font-size: 90px;
	margin-bottom: 24px;
}

.home__header p {
	font-size: 20px;
}

/* Social Media Icons CSS */
.fab,
.far {
	font-size: 50px;
	padding: 30px;
	color: black;
}

.fa-instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fa-github:hover {
	opacity: 0.8;
}

.fa-circle:hover {
	color: #1b1b1b;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-discord:hover {
	color: #7289da;
}

.fa-youtube:hover {
	color: #ff0000;
}

@media screen and (max-width: 768px) {
	.home__header h1 {
		font-size: 60px;
	}

	.home__header p {
		font-size: 16px;
	}

	.fab {
		font-size: 35px;
	}
}

/* About Section CSS */
.about__section {
	background-color: #222;
	padding: 6rem 0;
}

.about__section h1 {
	color: #fff;
	margin-bottom: 5rem;
	font-size: 3rem;
}

.about__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 90%;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	padding: 0 50px;
}

.about__content {
	color: #fff;
	font-size: 23px;
	width: 100%;
}

.about__img--card {
	margin: 10px;
	height: 475px;
	width: 475px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img.profile {
	border-radius: 25%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 1100px) {
	.about__container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		height: 90%;
	}

	.about__img--container {
		display: flex;
		justify-content: center;
	}

	.about__img--card {
		height: 425px;
		width: 425px;
	}

	.about__content {
		margin-bottom: 4rem;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.about__img--card {
		width: 250px;
		height: 250px;
	}

	.about__content {
		margin-top: 3rem;
	}
}

/* Projects Section CSS */
.projects__section {
	background: url(./assets/bg-img-2.webp) no-repeat fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 6rem 0;
}

.projects__section h1 {
	margin-bottom: 5rem;
	font-size: 3rem;
}

.projects__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.projects__card {
	margin: 10px;
	height: 450px;
	width: 300px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #fff;
	transition: all 0.3s ease-in;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.projects__card img {
	padding: 0 15px;
}

.projects__card h2 {
	margin-top: 12px;
}

.projects__card p {
	margin: 0 10px;
	font-size: 20px;
}

.projects__btn {
	display: flex;
	justify-content: center;
	padding: 0 10px;
	margin-top: 16px;
}

.projects__btn a {
	margin: 0 0 0 10px;
}

.button--1:hover {
	box-shadow: inset 9.5em 0 0 0 #1b1b1b;
	color: #fff;
}

.button--2:hover {
	box-shadow: inset -9.5em 0 0 0 #1b1b1b;
	color: #fff;
}

@media screen and (max-width: 1300px) {
	.projects__wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	.projects__wrapper {
		grid-template-columns: 1fr;
	}
}

/* Contact Section CSS */
.contact__section {
	background-color: #222;
	padding: 6rem 0 3rem 0;
}

.contact__section h1 {
	color: #fff;
	margin-bottom: 2rem;
	font-size: 3rem;
}

.contact--form {
	display: flex;
	align-content: center;
	justify-content: center;
}

form {
	background: #fff;
	padding: 30px 50px;
	width: 550px;
	border-radius: 5%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.form-element {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.form-element label {
	font-size: 18px;
	margin-bottom: 10px;
}

input,
textarea {
	border: 2px solid #97a8ab;
	line-height: 2;
	padding: 5px;
	border-radius: 5px;
	resize: none;
}

.contact--form button:hover {
	background-color: rgb(27, 27, 27);
	color: #fff;
}

@media screen and (max-width: 610px) {
	form {
		width: 340px;
	}

	textarea {
		height: 5rem;
	}
}

@media screen and (max-width: 350px) {
	form {
		width: 300px;
	}

	textarea {
		height: 4rem;
	}
}

/* Footer Section CSS */
.footer__section {
	background-color: #222;
	padding: 0 0 1rem 0;
}

.fas {
	font-size: 30px;
	color: #fff;
}

.fas:hover {
	opacity: 0.7;
}

hr {
	color: #808080;
	width: 27%;
	margin: 10px 0;
}

.footer__content p,
a {
	font-size: 10px;
	color: #808080;
}

.footer__content a:hover {
	transition: all 0.3s ease;
	color: #2f8cff;
}
