/* General App CSS */
* {
	margin: 0px;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: #97a8ab;
	border-radius: 15px;
	border: 2px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #758285;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/* Navigation Bar CSS */
nav .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(27, 27, 27);
	min-height: 8vh;
	top: 0;
	position: fixed;
	width: 100%;
}

.nav__logo {
	font-size: 16px;
	color: white;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.nav__links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.nav__links a {
	color: white;
}

.nav__links a:hover {
	opacity: 0.7;
}

/* General Section CSS */
section {
	padding: 5em 2em;
}

.about__section,
.contact__section {
	background-color: rgb(34, 34, 34);
	height: 800px;
	overflow: hidden;
}

.container {
	text-align: center;
	width: 100%;
}

/* Home Section CSS */
.home__section {
	background: url('../img/bg-img-1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 800px;
	display: flex;
}

.home__section .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home__header h1 {
	padding: 10px;
	font-size: 90px;
}

.home__header p {
	padding-top: 5px;
	font-size: 18px;
}

/* Social Media Icons CSS */
.fab {
	font-size: 50px;
	padding: 30px;
	color: black;
}

.fab:hover {
	opacity: 0.7;
}

/* About Section CSS */
.about__section h1 {
	font-size: 50px;
	color: white;
	padding-bottom: 70px;
}

.about__info {
	display: flex;
	justify-content: center;
	align-items: center;
}

img.profile {
	border-radius: 25%;
	box-shadow: 3px 3px 5px rgb(27, 27, 27);
}

.about__info p {
	font-size: 23px;
	width: 600px;
	color: white;
	padding-left: 100px;
}

/* Resume Section CSS */
.projects__section {
	background: url('../img/bg-img-2.jpg') no-repeat fixed;
	height: 1350px;
}

.projects__section h1 {
	font-size: 50px;
}

.projects__section h3 {
	padding: 10px 0;
}

.projects__section img {
	margin: 10px 15px 10px 0;
}

.project {
	background-color: white;
	padding: 15px 75px;
	text-align: left;
	margin: 50px;
}

.project--info {
	padding: 10px 0;
	display: flex;
}

.project--info img {
	box-shadow: 3px 3px 5px rgb(27, 27, 27);
}

.project--description {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.project--buttons {
	display: flex;
}

button {
	padding: 10px 25px;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	border: 2px solid rgb(27, 27, 27);
	cursor: pointer;
	transition: all 0.3s ease;
}

.button--2 {
	border: none;
	padding: 10px 15px;
}

.button--1:hover {
	background-color: rgb(27, 27, 27);
	color: #fff;
}

.button--2:hover {
	text-indent: 5px;
}

/* Contact Section CSS */
.contact__section h1 {
	font-size: 50px;
	color: white;
}

/* Footer */
.footer {
	background-color: rgb(34, 34, 34);
	height: 50px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.fas {
	font-size: 50px;
	padding: 30px;
	color: #fff;
	padding: none;
}

.fas:hover {
	opacity: 0.7;
}
